body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexMenu{
  display: flex;
  height: 100vh;
  color: white;
}

.flexMenu > div:nth-child(1) {
  width: 36vh;
  background: #4f6173;
  padding: 10px;
  height: 100vh;
  position: fixed;
}

.flexMenu > div:nth-child(1) > nav > ul > li > a {
  color: white;
  text-decoration: none;
}

.flexMenu > div:nth-child(1) > nav > ul > li{
  list-style-type: none;
}

.flexMenu > div:nth-child(2) {
  padding: 10px;
  width: 169vh;
  background: lightslategrey;
  margin-left: 39vh;
  height: auto;
  min-height: 110vh;
  position: absolute;
  /* display: flex; */
}

.doc-container{
  padding: 5px;
  width: 85.5vh;
  position: absolute;
}

.res-container{
  color: white;
  padding-left: 87vh;
}

.header-swagger{
  display: flex;
  border-radius: 4px;
  background: honeydew;
  padding: 3px;
}

.header-swagger > div:nth-child(1) {
  background: #4CAF50;
  padding: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}


.header-swagger > div:nth-child(2) {
  margin-left: 10px;
  color: black;
  padding: 10px;
  border-radius: 4px;
}

.endpoint-field{
  font-size: medium;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 200%;
}

.header-swagger > div:nth-child(3) {
  padding: 14px 10px 10px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: x-small;
  background: rebeccapurple;
  position: absolute;
  right: 10px;
  top: 10px;
}

.judul-ket-doc{
  background: #d6d8de;
  color: black;
  padding: 20px;
  margin-top: 5px;
  border-radius: 2px;
}

.judul-ket-doc > h4 {
  color: #34547d;
  text-transform: uppercase;
  text-decoration: underline;
}

.judul-ket-doc > p {
  color: #716451;
}

.example-value-doc{
  background: #d6d8de;
  color: black;
  padding: 20px;
  margin-top: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.example-value-doc > h4{
  color: #34547d;
  text-transform: uppercase;
  cursor: pointer;
}

.example-value-doc > h4:hover{
  color: rgb(79, 97, 115);
}

.example-value-doc > h4 > span:nth-child(1):hover{
  color: #90b177 !important;
}

.example-value-doc > h4 > span:nth-child(2) {
  color: #90b177 !important;
  padding: 8px;
  border-radius: 10px;
}

.example-value-doc > h4 > span:nth-child(2):hover{
  color: rgb(79, 97, 115) !important;
  background: #d6d8de !important;
}

.example-value-doc > textarea{
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  background: #EEEEEE;
  width: 97%;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.example-res-doc{
  background: #d6d8de;
  color: black;
  padding: 20px;
  margin-top: 5px;
  border-radius: 2px;
}

.example-res-doc > h4{
  color: #34547d;
  text-transform: uppercase;
  text-decoration: underline;
}

.btn-send-doc{
  background: #4caf50;
  border: none;
  padding: 15px 34px;
  color: white;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-reset-doc{
  background: #4caf50;
  border: none;
  padding: 15px 34px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.actions-doc{
  padding-top: 24px;
}

/* #908480 */

.doc-action{
  padding-top: 15px;
}

.doc-response{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
    height: auto;
    width: 100%;
    /* overflow: scroll; */
}

.header-field{
  display: flex;
  justify-content: space-between;
  width: 44%;
}

.header-field > input[type="text"]{
  background: #8c8c8c;
  width: 206px;
  padding: 6px;
  border: none;
  margin-bottom: 10px;
}

.black-color{
  color: black !important;
}

.form-field{
  background: darkgray;
  padding: 5px;
  border: none;
  color: #7b4a00;
  width: 90%;
}

#field_token{
  display: none;
}